<div class="columns">
  <div class="column is-7">
    <div class="panel">
      <a
        class="panel-block"
        href="<%= urlPrefix %>/api/<%= user.userSettings.apiKey %>/reports/admin-apiAuditLogs"
      >
        <div class="media">
          <div class="media-left">
            <i class="fa-solid fa-3x fa-file-csv"></i>
          </div>
          <div class="media-content">
            <h2 class="title is-4 mb-0 has-text-link">
              API Audit Logs
            </h2>
            <p>
              Export all API audit log records to CSV format for analysis, archiving, or compliance purposes.
            </p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
