.nyc_output/
bin/daemon/
coverage/
daemon/

cypress/downloads/
cypress/screenshots/
cypress/videos/

data/attachments/*
!data/attachments/README.md

data/backups/*
!data/backups/README.md

data/sessions/

data/test-attachments/

node_modules/

data/config.*
data/*.config.*
!data/githubActions.config.*
!data/testing.config.*

public/images-custom/*

megalinter-reports/
temp_build/

tsconfig.tsbuildinfo
