<div class="columns">
  <div class="column">
    <h2 class="title is-4">Employees and Equipment</h2>
  </div>
  <% if (isEdit) { %>
  <div class="column is-narrow">
    <div class="buttons">
      <div class="dropdown is-right">
        <div class="dropdown-trigger">
          <button class="button is-small is-success" aria-haspopup="true" aria-controls="dropdown-menu--addEmployeeEquipment">
            <span class="icon"><i class="fa-solid fa-plus"></i></span>
            <span>Add</span>
            <span class="icon is-small">
              <i class="fa-solid fa-caret-down" aria-hidden="true"></i>
            </span>
          </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu--addEmployeeEquipment" role="menu">
          <div class="dropdown-content">
            <a class="dropdown-item" id="button--addCrew" href="#">
              <span class="icon"><i class="fa-solid fa-users-gear"></i></span>
              <span>Add Crew</span>
            </a>
            <a class="dropdown-item" id="button--addEmployee" href="#">
              <span class="icon"><i class="fa-solid fa-users"></i></span>
              <span>Add Employee</span>
            </a>
            <a class="dropdown-item" id="button--addEquipment" href="#">
              <span class="icon"><i class="fa-solid fa-truck"></i></span>
              <span>Add Equipment</span>
            </a>
            <hr class="dropdown-divider" />
            <a class="dropdown-item" id="button--importFromPreviousShift" href="#">
              <span class="icon"><i class="fa-solid fa-download"></i></span>
              <span>Import from Previous Shift</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% } %>
</div>

<div class="tabs is-boxed is-small">
  <ul>
    <li class="is-active">
      <a href="#tab-content--crews">
        <span class="icon is-small"><i class="fa-solid fa-users-gear"></i></span>
        <span>Crews</span>
        <span class="tag is-rounded ml-2" id="crewsCount">0</span>
      </a>
    </li>
    <li>
      <a href="#tab-content--employees">
        <span class="icon is-small"><i class="fa-solid fa-users"></i></span>
        <span>Employees</span>
        <span class="tag is-rounded ml-2" id="employeesCount">0</span>
      </a>
    </li>
    <li>
      <a href="#tab-content--equipment">
        <span class="icon is-small"><i class="fa-solid fa-truck"></i></span>
        <span>Equipment</span>
        <span class="tag is-rounded ml-2" id="equipmentCount">0</span>
      </a>
    </li>
  </ul>
</div>

<div id="tab-content--crews">
  <div id="container--shiftCrews"></div>
</div>

<div class="is-hidden" id="tab-content--employees">
  <div id="container--shiftEmployees"></div>
</div>

<div class="is-hidden" id="tab-content--equipment">
  <div id="container--shiftEquipment"></div>
</div>