<div class="columns is-mobile">
  <div class="column">
    <h2 class="title is-4">Attachments</h2>
  </div>
  <% if (isEdit) { %>
  <div class="column is-narrow has-text-right">
    <button class="button is-small is-success" id="button--addAttachment" type="button">
      <span class="icon"><i class="fa-solid fa-plus"></i></span>
      <span>Add Attachment</span>
    </button>
  </div>
  <% } %>
</div>

<div id="container--attachments">
  <!-- Attachments will be loaded here -->
</div>
