<div class="columns is-mobile">
  <div class="column">
    <h2 class="title is-4">Costs</h2>
  </div>
  <div class="column is-narrow has-text-right">
    <% if (isEdit) { %>
    <button class="button is-small is-success" id="button--addCost" type="button">
      <span class="icon"><i class="fa-solid fa-plus"></i></span>
      <span>Add Cost</span>
    </button>
    <% } %>
    <a
      class="button is-small is-info"
      href="<%= urlPrefix %>/api/<%= user.userSettings.apiKey %>/reports/workOrders-workOrderCosts-byWorkOrderId/?workOrderId=<%= workOrder.workOrderId %>"
      target="_blank"
    >
      <span class="icon"><i class="fa-solid fa-file-csv"></i></span>
      <span>Export</span>
    </a>
  </div>
</div>

<div id="container--costs">
  <!-- Costs will be loaded here -->
</div>
