<div class="columns">
  <div class="column">
    <h2 class="title is-4">Tags</h2>
  </div>
  <% if (isEdit) { %>
  <div class="column is-narrow">
    <button class="button is-small is-success" id="button--addTag" type="button">
      <span class="icon"><i class="fa-solid fa-plus"></i></span>
      <span>Add Tag</span>
    </button>
  </div>
  <% } %>
</div>

<div id="container--tags">
  <!-- Tags will be loaded here -->
</div>
