<div class="columns is-mobile">
  <div class="column">
    <h2 class="title is-4">Milestones</h2>
  </div>
  <% if (isEdit) { %>
  <div class="column is-narrow has-text-right">
    <button class="button is-small is-success" id="button--addMilestone" type="button">
      <span class="icon"><i class="fa-solid fa-plus"></i></span>
      <span>Add Milestone</span>
    </button>
  </div>
  <% } %>
</div>

<div id="container--milestones">
  <!-- Milestones will be loaded here -->
</div>